<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h2>Về chúng tôi</h2>
                <p>
                    Phòng Mạch tự hào là địa chỉ chăm sóc sức khỏe uy tín và tận tâm, mang đến dịch vụ y tế chất lượng cao cho cộng đồng. Với đội ngũ bác sĩ chuyên môn cao, trang thiết bị hiện đại và tinh thần phục vụ chu đáo, chúng tôi cam kết mang lại sự hài lòng và an tâm cho từng bệnh nhân. Hãy để chúng tôi đồng hành cùng bạn trong hành trình bảo vệ sức khỏe!
                </p>
                <!-- <p>Chúng tôi tập trung vào các công nghệ hứa hẹn giảm chi phí, hợp lý hóa quy trình và tăng tốc thời gian đưa sản phẩm ra thị trường,
                    Được hỗ trợ bởi các quy trình chất lượng mạnh mẽ và kinh nghiệm phong phú của chúng tôi trong việc quản lý... </p> -->
            </div>
            <div class="col-md-4 col-sm-12">
                <h2>Liên kết</h2>
                <ul class="list-unstyled link-list">
                    <li><a ui-sref="about" href="/about-us">Giới thiệu</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="contact" href="/contact">Liên hệ</a><i class="fa fa-angle-right"></i></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 map-img">
                <h2>Liên hệ</h2>
                <address class="md-margin-bottom-40">
                    Duy <br>
                    <!-- Sđt: +84 123456 <br> -->
                    Email: <a href="mailto:duynguyenpro2711@gmail.com" class="">duynguyenpro2711@gmail.com</a><br>
                    Web: <a href="http://localhost:5000/" class="">http://localhost:5000/</a>
                </address>

            </div>
        </div>
    </div>


</footer>
<div class="copy">
    <div class="container">
        <a href="http://localhost:5000/">2024 &copy; All Rights Reserved | Designed and Developed by Duy</a>
        <span>
                <a><i class="fab fa-github"></i></a>
                <a><i class="fab fa-google-plus-g"></i></a>
                <a><i class="fab fa-pinterest-p"></i></a>
                <a><i class="fab fa-twitter"></i></a>
                <a><i class="fab fa-facebook-f"></i></a>
        </span>
    </div>

</div>
